/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


a:link { 
    color:red; 
    text-decoration:underline; 
} 
a:visited { 
    color:#ffe; 
    text-decoration:none; 
} 
a:hover { 
    color:#E83015; 
    text-decoration:underline; 
} 
a:active { 
    color:yellow; 
    text-decoration:none; 
}
a{
    font-size:1.4em;
    font-family: 微软雅黑;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-align-items: center;  
    -ms-flex-align: center;  
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-family: 微软雅黑;
    background: url("../img/ironman.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.authCode{
    width: 100px;
    height: 35px;
}
.panel{
    background: rgba(230, 238, 214,0.8);
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 470px;
    border-radius: 20px;
    padding: 36px;
    border: dashed;
    border-color: #434343;
}
.headline{
    width: 200px;
    height: 50px;
    clear: both; 
    display: block; 
    margin:auto; 
}
hr{
    color: #fff;
    border-color: #fff;
}
tr {
    text-align: center;
}


/* Padding and font style */
td, th {
    padding: 5px 10px;
    font-size:13px;
    font-weight: bold;
    font-family: 微软雅黑;
    color:#6a6f77;
}

/* Alternating background colors */

input[type="text"] ,input[type="password"] { 
    box-sizing: border-box;
    background: rgba(235, 242, 224,0.7);
    text-align:center;
    font-size:1.5em;
    height:1.8em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
}
input[type="text"]:focus{
    border:1px solid #ff7496;
}
#reset,#submit1{
    text-align:center;
    background: #86C166;
    font-size:1.5em;
    height:1.8em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
}
#reset:active,#submit1:active{
    text-align:center;
    background: #A8D8B9;
    font-size:1.5em;
    height:1.8em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
}
.space{
    height: 8px;
    width: 100%
}
#logoDot {
    color: #d74580;
}
#logo {
    position: fixed;
    right: 0.75rem;
    bottom: 0.65rem;
    cursor: pointer;
    text-decoration: none;
    color: #d6d6d6;
    font-size: 2rem;
    letter-spacing: 0.025em;
}